* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

:root {
    --cool-gray: rgb(144, 156, 194);
    /* --polynesian-blue: rgb(8, 72, 135); */
    --polynesian-blue: rgb(6, 67, 128);
    --dark-tangerine: rgb(255, 140, 0);
    --tangerine: rgb(245, 138, 7);
    --sandy-brown: rgb(249, 171, 85);
    --ghost-white: rgb(247, 245, 251);
}

body {
    
    /* Background Image & Controls */
    background-image: url('/src/assets/images/pexels-stephan-seeber-1054218.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    
    mix-blend-mode:initial; 
    
}

h2,
h3 {
    color: var(--polynesian-blue);
    text-shadow: 1px 1px  rgba(119, 159, 204, 0.884);
    mix-blend-mode:initial; 
}

h5 {
    color: var(--tangerine);
    mix-blend-mode:inherit;
}

li {
    list-style-position: inside;
}

/* Primary body text app-wide */
.primaryText {
    color:var(--ghost-white);
    mix-blend-mode:inherit;
    font-size:large;

}

/* Navbar Elements */

.nav-text {
    text-decoration: solid;
    color:rgb(249, 171, 85);
    font-size:larger;
    font-weight:400;

}

.nav-text-active {
    color: var(--tangerine);
    text-decoration:underline;
    font-size:larger;
    font-weight:400;
    text-shadow: 0 0 .2px;
}

/* Navbar Elements - (:Hover) */

.nav-text:hover {
    color: var(--tangerine);
    text-decoration: solid;
    font-size:larger;
    font-weight:400;
    text-shadow: 0 0 .2px;
}

.nav-text-active:hover {
    color: var(--tangerine);
    text-decoration: solid;
    font-size:larger;
    font-weight:400;
    text-shadow: 0 0 .2px;
}

/* Professional Link Elements */
.fa-brands {
    color: var(--sandy-brown);
    
}

.fa-brands:hover {
    color: var(--tangerine);
    transition: color 0.2s;
   
    transform: scale(1.02);
    transition: transform 0.2s;
}

/* Error Messages */
.error-text {
    color: red;
    font-weight: bold;
}

/* buttons */
/* .btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: white;
  --bs-btn-bg: violet;
  --bs-btn-border-color: violet;
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
} */



/* Footer element */
/* .myFooter {
    position:fixed;
    bottom: 10px;
    width: 10%;
    border: 3px solid #8AC007; 
  } */

